.album-item-main {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}

.album-item-index {
  color: white;
  display: flex;
  width: 3rem;
  justify-content: center;
  font-size: 2rem;
}

.album-item-wrapper {
  margin: 0.5rem 0;
  display: flex;
  width: 30rem;
  height: 4.2rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 0.4rem;
}

.album-item-container {
  width: 100%;
  display: flex;
}

.album-item-image img {
  height: 100%;
  border-radius: 0.5rem;
}

.album-item-text-container {
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.album-item-album-name {
  font-weight: 600;
  color: grey;
}

.album-item-artist {
  font-weight: 600;
  color: #e76f51;
}

.album-item-heart-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 7rem;
}

.album-item-heart {
  width: 1rem;
}

.album-item-btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #e76f51;
  color: #e76f51;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0.5em 1.2em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}
